<section class="header mb-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand">{{headerTitle}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
          <ng-container *ngFor="let item of menuList; let i=index" >
            <ng-container *ngIf="item.subMenu.length === 0;else dbMenu">
              <li class="nav-item"><a class="nav-link" [id]="'menu'+item.id"  [routerLinkActive]="'active'"  [routerLink]="item.routing">{{item.label}}</a></li>
            </ng-container>
            <ng-template #dbMenu>
              <li class="nav-item dropdown" [ngClass]="{'ms-auto':i===(menuList.length-1)}" appDropdown>
                <a class="nav-link dropdown-toggle "  [id]="'menu'+item.id" [routerLinkActive]="'active'" [routerLink]="item.routing" role="button"
                  [attr.aria-expanded]="true">
                  {{item.label}}
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let subItem of item.subMenu">
                    <a class="dropdown-item " [routerLink]="subItem.routing" [id]="'menu'+subItem.id" > {{subItem.label}} </a>
                  </li>
                </ul>
              </li>
            </ng-template>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</section>
