<div class="container">
  <div class="row">
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
      <form action="" [formGroup]="httpForm" >
        <div class="mb-3">
          <label for="http-title" class="form-label fw-semibold">Title</label>
          <input type="text" class="form-control" id="http-title"  formControlName="title" >
        </div>
        <div class="mb-3">
          <label for="http-content" class="form-label fw-semibold">Content</label>
          <input type="text" class="form-control " id="http-content" formControlName="content">
        </div>
        <!-- <div class="mb-3">
          <label for="file" class="form-label fw-semibold">Chose file</label>
          <input type="file" class="form-control " id="http-content" >
        </div> -->
        <div class="mb-3">
          <div class="send-post">
            <button class="btn btn-primary" (click)="onCreatePost()" [disabled]="!httpForm.valid">Send Post</button>
          </div>
        </div>
        <div class="mb-3">
          <div class="send-post">
            <hr>
            <button class="btn btn-primary" (click)="fetchPost2()">Fetch Post</button>
            <button class="btn btn-danger mx-3 ">Clear Post</button>
          </div>
        </div>
        <div class="mb-3">
          <div class="no-post">
            <p>No post available!</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
