<div class="row">
  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="d-flex">
      <button class="btn btn-success" (click)="onStartGame()">Start Game</button>
      <button class="btn btn-danger mx-2" (click)="onPauseGame()">Pause Game</button>
      <button class="btn btn-primary" (click)="change()">Only Show Odd Numbers</button>
    </div>
    <div class="list-group">
      <!-- <app-only-odd ></app-only-odd> -->
      <ul class=" p-0 py-2 list-unstyled">
        <div *ngIf="flag">
          <li class="list-group-item" [ngClass]="{'text-danger fw-bold':'flag'}" *ngFor="let item of oddNumbers;let i =index">{{item }}</li>
        </div>
        <div *ngIf="!flag">
          <li class="list-group-item" [ngClass]="{'text-success fw-bold':'!flag'}" *ngFor="let item of evenNumbers;let i=index">{{item}}</li>
        </div>
      </ul>
    </div>
  </div>
</div>
