<div class="allowEdit" *ngIf="!allowEdit;else allow">
  <h4 class="text-danger">You are not allowed to edit!</h4>
</div>
<ng-template #allow >
  <div class="mb-2">
    <label for="server-name" class="form-label fw-semibold">Server Name</label>
    <input type="text" name="" id="server-name" class="form-control" [(ngModel)]="serverName">
</div>
<div class="mb-3">
    <label for="server-status" class="form-label fw-semibold">Status</label>
    <select name="" id="server-status" class="form-control" [(ngModel)]="status">
        <option value="online">online</option>
        <option value="offline">offline</option>
    </select>
    <!-- <p>Server Name:{{serverName}}</p>
    <p>Status:{{status}}</p> -->
</div>
<div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="onUpdateServer()">Update</button>
    <!-- <button type="button" class="btn btn-danger mx-3" (click)="onUpdateServer()">Back</button> -->
</div>

</ng-template>
