.error-message {
  position: relative;
  display: flex;
  justify-content: end;
  color: red;
  .error {
    position: absolute;
  }
}
.form-label{
  font-weight: 500;
}
input.ng-invalid.ng-touched {
  border: 2px solid red;
}
input.ng-valid.ng-touched {
  border: 2px solid green;
}
