<div class="row p-2">
  <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-12">
    <div class="shopping-edit">
      <h2>Shopping Edit</h2>
    </div>
    <div>
      <app-shopping-edit></app-shopping-edit>
    </div>
    <div>
      <ul class="list-group ">
        <a class="list-group-item d-flex justify-content-between" *ngFor="let item of ingredients;let i=index" >
          {{item.name}} - {{item.amount}}
          <div class="input" *ngIf="showInput==i">
            <input type="text" name="" id="" class="form-control">
          </div>
          <div class="button-group ">
            <button class="btn btn-success " (click)="toggleInput(i)">Edit</button>
            <button class="btn btn-danger mx-3" (click)="deleteItem(i)" >Delete </button>
          </div>
        </a>
      </ul>
    </div>
  </div>
  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-12 border">
    <h2>Right Sections</h2>
  </div>
</div>