<div class="container">
  <div class="row p-2">
    <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-12 col-sm-12">
      <div class="shopping-edit">
        <app-shopping-edit></app-shopping-edit>
      </div>
      <div class="shopping-list">
        <ul class="list-group">
          <a class="list-group-item d-flex justify-content-between" *ngFor="let item of ingredients;let i=index" (click)="onEditItem(i)" >
            {{item.name}} - {{item.amount}}
            <div class="input" *ngIf="showInput==i">
              <input type="text" name="" id="" class="form-control">
            </div>
          </a>
        </ul>
      </div>
    </div>
  </div>

</div>
