<div class="row">
  <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-12 ">
    <div class="heading">
      <h2>Recipe list</h2><hr>
    </div>
    <div class="recipe-list">
      <app-recipe-list></app-recipe-list>
    </div>
  </div>
  <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-12 ">
    <div class="heading">
      <h2>Recipe Details</h2><hr>
    </div>

    <div class="recipe-details">
      <app-recipe-details *ngIf="selectedRecipe; else pleaseSelect" [recipe]="selectedRecipe"></app-recipe-details>
    </div>

    <ng-template #pleaseSelect>
      <p class="text-danger">Please Select the Recipe !</p>
    </ng-template>
  </div>
</div>