<app-header (haritDataSend)="haritDataSend($event)" (navigationEvent)="navigate($event)"></app-header>

<div class="row border border-success">
  <div class="col-12">
    <app-accounts></app-accounts>
  </div>
</div>
<div class="container my-4">
  <div class="row ">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="check==='recipe'">
      <app-recipes></app-recipes>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="check==='shopping-list'">
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>

<!-- <div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)" [cockpit]="demoInput" [serverContent]="demoInput2"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-12">
      <app-server-element *ngFor="let item of serverElements" [srvElement]="item"></app-server-element>
    </div>
  </div>
</div> -->

<div class="container my-4">
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <app-data-interchange [data]="userDetails" [element]="user" (hData)="haritData($event)"> </app-data-interchange>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <app-testimonal></app-testimonal>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <!-- <app-assignment></app-assignment> -->
    <app-assignment2></app-assignment2>
  </div>
</div>

