<app-header [headerTitle]="title" (haritDataSend)="haritDataSend($event)"></app-header>
<!-- <div class="container my-4">
  <div class="row">
    <div class="col-12 border">
      <app-recipes></app-recipes>
    </div>
  </div>
  <div class="row">
    <div class="col-12 border border-success">
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)" [cockpit]="demoInput" [serverContent]="demoInput2"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-12">
      <app-server-element *ngFor="let item of serverElements" [srvElement]="item"></app-server-element>
    </div>
  </div>
</div> -->

<div class="container my-4">
  <hr>
  <app-data-interchange [data]="userDetails" [element]="user" (hData)="haritData($event)">
    <input type="text" name="" id="" [value]="'12345'" class="form-control">
  </app-data-interchange>
  <hr>
  <h1>{{demo | json}}</h1>
</div>

