<div class="container">
  <div class="stringInterpolation ">
    <h1>Serves is Running on port {{getPort('127:345:45:112')}}</h1>
    <h1>Serves status is {{ getServerStatus('offline') }}</h1>
  </div>

  <hr>

  <div class="propertyBinding">
    <h2>Property Binding</h2>
    <button class="btn btn-dark " [disabled]="serverName==''" [id]="allowUser" (click)="onServerCreate()">Click
      me</button>
    <br>
    <input type="text" [(ngModel)]="serverName">
    <p>{{getColor()}}</p>
    <p>{{serverStatus}}</p>
    <h1 *ngIf="serverName!=''">Server is Created is Name {{serverName}}</h1>
    <h2 [ngStyle]="{backgroundColor:getColor()}" [ngClass]="{online:'true'}" >{{check}}</h2>
  </div>

  <hr>

  <div class="assignment py-4">
    <div class="">
      <div>
        <input type="text" [(ngModel)]="username">
        <p>{{username}}</p>
      </div>
      <div class="submit">
        <button class="btn btn-dark" (click)="usernameUpdate()" [disabled]="username==''">Submit</button>
      </div>
    </div>
  </div>

  <hr>

  <div class="If Condition check ">
    <input type="number" [(ngModel)]="day">
    <p>{{day}}</p>
    <h1 *ngIf="day==0; ">Sunday</h1>
    <h1 *ngIf="day==1; ">Monday</h1>
    <h1 *ngIf="day==2; ">Tuesday</h1>
    <h1 *ngIf="day==3; ">Wednesday</h1>
    <h1 *ngIf="day==4; ">Thursday</h1>
    <h1 *ngIf="day==5; ">Friday</h1>
    <h1 *ngIf="day==6; ">Saturday</h1>
    <ng-template #elseIf>
      <h1>Heyy</h1>
    </ng-template>
  </div>
  <hr>
  <div class="ngFor">
    <button class="btn btn-dark " (click)="getServers()">Click</button>
    <h1 *ngFor="let i of servers">{{i}} </h1>
    <h2>{{serverName}}</h2>
  </div>
</div>
