<div class="employee-list my-5">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'border-active': i===selectedItem}" *ngFor="let item of employeeList;let i=index" >
        <ng-container >
          <td>{{i+1}} </td>
          <td>{{item.name}}</td>
          <td>{{item.number}}</td>
          <td>{{item.department}}</td>
          <td>{{item.salary}}</td>
          <td>{{item.email}}</td>
        </ng-container>
        <!-- <ng-container *ngIf="editMode && i==selectItem">
          <td>{{i+1}}</td>
          <td><input type="text" class="form-control" [(ngModel)]="item.name"></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.number"></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.department"></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.salary"></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.email"></td>
        </ng-container> -->
        <td>
          <div class="controls d-flex">
            <button class="btn btn-dark" (click)="onEdit(i)">Edit</button>
            <button class="btn btn-dark mx-2" (click)="onDelete(i)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
