<div class="recipe-content"  >
  <div class="row border align-items-center rounded my-1 item " style="cursor: pointer;"  [routerLink]="[id]" [routerLinkActive]="'active'">
    <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-12 py-2  ">
      <h4>{{recipe.name}}</h4>
      <p>{{recipe.desc}}</p>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-12 py-2">
      <span class="img-content">
        <img [src]="recipe.imagePath" alt="" class="img-fluid" [alt]="recipe.name+' image'">
      </span>
    </div>
  </div>
</div>
