<div class="row">
  <div class="col-12 py-2 ">
    <button class="btn btn-success text-white" (click)="pushMethod()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 ">
    <div class="recipe-content" *ngFor="let item of recipe; let i=index">
      <div class="row border align-items-center bg-light rounded my-1">
        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-12 py-2 ">
          <h4>{{item.name}}</h4>
          <p>{{item.desc}}</p>
          <p>Index is: {{i}}</p>
        </div>
        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-12 py-2">
          <span class="img-content">
            <img [src]="item.imagePath" alt="" class="img-fluid">
          </span>
        </div>
      </div>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
