<div class=" row ">
  <div class="col-12">
    <form action="">
      <div class="row my-3">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="form">
            <label for="name" class="fw-bold">Name</label>
            <input type="text" class="form-control" id="name" #nameInput>
          </div>
        </div>
        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
          <div class="form">
            <label for="amount" class="fw-bold">Amount</label>
            <input type="number" class="form-control" id="amount" #amountInput>
          </div>
        </div>
      </div>
      <div class="row  button my-3">
        <div class="col-12">
          <button class="btn btn-success" (click)="addItem(nameInput.value,amountInput.value)">Add</button>
          <button class="btn btn-danger mx-3">Delete</button>
          <button class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
