<div class="row justify-content-center">
  <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
    <div class="form">
      <form action="" [formGroup]="authForm">
        <div class="mb-3">
          <label for="auth-email" class="form-label fw-semibold">E-Mail</label>
          <input type="text" id="auth-email" class="form-control" formControlName="authEmail">
          <div class="error-message" *ngIf="authForm.controls['authEmail'].touched">
            <span class="error" *ngIf="authForm.controls['authEmail'].errors?.['required']">Required field!</span>
            <span class="error" *ngIf="authForm.controls['authEmail'].errors?.['email']">Invalid Email!</span>
          </div>
        </div>
        <div class="mb-3" *ngIf="!isLogin">
          <label for="auth-email" class="form-label fw-semibold">Number</label>
          <input type="text" id="auth-email" class="form-control" formControlName="authEmail">
          <div class="error-message" *ngIf="authForm.controls['authEmail'].touched">
            <span class="error" *ngIf="authForm.controls['authEmail'].errors?.['required']">Required field!</span>
            <span class="error" *ngIf="authForm.controls['authEmail'].errors?.['email']">Invalid Email!</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="auth-email" class="form-label fw-semibold">Password</label>
          <input type="text" id="auth-email" class="form-control" formControlName="authPassword">
          <div class="error-message" *ngIf="authForm.controls['authPassword'].touched">
            <span class="error" *ngIf="authForm.controls['authPassword'].errors?.['required']">Required field!</span>
            <!-- <span class="error" *ngIf="projectForm.controls['authPassword'].errors?.['forbiddenName']">Invalid Name!</span> -->
          </div>
        </div>
        <div class="mb-3">
          <div class="auth-btn">
            <button type="button" class="btn btn-primary">{{isLogin?'Login':'Signup'}} </button>
            <button type="button" class="btn btn-primary mx-3" (click)="onSwithMode()">Switch to {{!isLogin?'Login':'Signup'}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
